::-webkit-scrollbar {
    display: none;
   /*width: auto;
  height: auto;*/
}

/*::-webkit-scrollbar-track{
  background:transparent;
  border-radius: 20px ;

}

::-webkit-scrollbar-thumb{
background-color: linear-gradient(red,white);
  
}*/

@supports (scrollbar-color: red white){
  *{
  scrollbar-color: red hsla(120, 100%, 50%, 0);
  scrollbar-width: auto;
  /*First is the thumb the second is the bkg*/  
  }
/*this code is needed because firefox doesn't support the above code*/
}


@media only screen and (max-width: 767px) {
  html{
    scroll-behavior: smooth;
  }
    	.main-img{/* class for profile picture*/

    display: block;
    margin-bottom:10px;
    height:450px;
    width:95vw;
    }

  .flowcharts{
      margin: 12.5px;
      display: block;
      float: center;
      height:calc(93vh/2);
      width:93vw;
      opacity: 1;
      filter: blur(10px);
      transition: all 2.2s;
    
    }
    
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #333;
      text-align: center;
      overflow-x: hidden;
   
     
    }
    
    header {
      background-color: black;
      color: white;
      padding:  5vh ;
      margin: auto;
      font-size: calc(var(--var,1vw)*11*40/75);
      position: sticky;
      top:0px;
      text-align:center;
      opacity:1; 
      z-index:5;
      box-shadow: 5px 10px 10px black, -5px 10px 10px black;

    }
    
    .header-content {
      width: auto;
      height: auto;
      margin: auto;
      display: flex;
      position: sticky;
      opacity: 1;
    }

    #name{
      position: fixed;
      font-size: calc(var(--var,1vw)*11*40/75);
      left: 4%;
      top: 2%;
      color: #fff;
    }
    
    
    header h1 {
      margin: -5%;
      font-size: calc(var(--vw,1vw)*11*20/75);
      position: sticky;
      top:-5%;
      left: 2.5%;
    }
    
    .welcome{
      color: #fff;
      font-size: calc(var(--vw,1vw)*11*45/75);
      text-align:center;
      position: fixed;
      top: 30%;
      left:0%;
      text-shadow: rgb(255, 0, 0) 1px 0 10px;/*Adds the neon effetct*/
     
    }
    
    .parrallax1{
      background: black/*url("planet.png") no-repeat*/;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      height:75vh;
      width:100vw;
    }
  
    
    h2 {
      font-size: calc(var(--var,1vw)*11*50/75);
      text-align:center;
      color:#fff;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: all 1s;
    
    }

    h3{
      /*font-size: calc(var(--vw,1vw)*11*30/75)px;*/
      color:#fff;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: all 1.1s;
    }

    p {
      /*font-size: calc(var(--vw,1vw)*11*20/75)px;*/
      margin-top:20px;
      color:#fff;
      text-align: center;
      margin-inline: auto;
      margin-right: 15px;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: all 1.5s;
      line-height: 25px;

    }
    #Status{
      color: rgb(3, 218, 3);
    }
    p a{
      font-size: calc(var(--var,1vh)*11*15/75);
    
    }
    
    .intro{
      font-size:calc(var(--vw,1vw)*11*30/75)px;
      text-align:left; 
      margin-left: 3%;
    }

    .courseText{
      text-align: center;
      margin-left: 5%;
    }

    a {
      font-size: calc(var(--var,1vw)*11*15/75);
    }
    
    .linkvari{
    font-size: 20px;
    text-align: center;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.3s;

    }

    ul {
      list-style:none;
      text-align:center;
    }

    li{
      color: #fff;
    }

    #coursesList li{
      font-size: calc(var(--vw,1vw)*11*20/75);
      color: red;
      text-align: center;
      list-style-type:none;
      margin: 0px;
      padding: 0px; 
      width:75%;
    }

    ul p{
      margin-left: -20.3%;
      text-align: center;

    }
    
    #publicationss li{
      float:center;
      list-style-type:none;
      margin: 0px;
      padding: 0px; 
      width:90%;
    }
    
    #contacts li{
      float:center;
      list-style-type:none;
      margin: 0px;
      padding: 0px; 
      width:90%;
    }
    
    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    nav ul li {
      list-style: none;
      display: inline;
      margin-right: calc(var(--var,1vw)*11*10/75);
    }
    
    nav ul li a {
      list-style: none;
      text-decoration: none;
      color: #fff;
      left: -6%; 
      /*display: inline;*/
      
    }

    nav ul li.active a{
      transform: scale(1);
      color: rgba(177, 0, 0, 0.773);
      z-index: 2;
    }
    
    nav ul li.active a span{
      transform: scale(1);
      opacity: 1;
      color: rgba(177, 0, 0, 0.773);
      width: 106%;
      height: 100%;
      border-radius: 4px;
      background-color: #fff;
      transition: 1.0s ease-out;
      left: -1px;
    
    }
    
    .sections{
      position: fixed;
      left:8.5%;
      top:6%; 
      opacity:1;
   
    
    }
    
    .sections a{
      position: relative;
      font-size: small ;
    }
    
    /*.sections a:hover{  
      transform: scale(1);
      color: rgba(177, 0, 0, 0.773);
    
    }*/
    
    .sections a span{
      position: absolute;
      top: 0;
      left: -1.5px;
      width: 106%;
      height: 115%;
      border-radius: 5px;
      transform: scale(0);
      opacity: 0;
      z-index: -1;
      background: #fff;
      transition: 0.7s;

    }
    
   /*.sections a:hover span{
      transform: scale(1);
      opacity: 1;
    
    }*/
    
    .american-flag{
      position: fixed;
      right: 27px;
      top:2%;
    
    }

    #amflag{
      height:18px ;
      width: 18px;
    }
    
    .italian-flag{
      position: fixed;
      right: 0%;
      top:2%;
    }

    #itflag{
      height:18px ;
      width: 18px;
    }   
    
    .section {
      padding: 50px 0;
      font-size: calc(var(--var,1vh)*11*30/75)px;
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: all 0.3s;

    }
    .hoverover{
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: all 1.3s;
    
    }
    
    .courseElem{
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: all 1.3s;
    }
    
   .show{
       opacity: 1;
       filter: blur(0);
       transform: translate(0);
    }

   .blurEff{
      opacity: 1;
      filter: blur(0);
    }
    
    /*Tooltip*/
    @keyframes jiggle {
      0%, 100% {
          transform: rotate(0) translate(-50%);
    
      }
      12.5%{
        transform: rotate(-6.75deg) translate(-50%);
      }
      25% {
          transform: rotate(-12.5deg) translate(-50%);
        
      }
      37.5%{
        transform: rotate(-6.75deg) translate(-50%);
      }
      50% {
          transform: rotate(0) translate(-50%);
    
        }
        62.5%{
          transform: rotate(6.75deg) translate(-50%);
    
        }
      75% {
          transform: rotate(12.5deg) translate(-50%);
    
      }
      87.5%{
        transform: rotate(6.75deg) translate(-50%);
    
      }
    }
    
    .jiggle {
      animation: jiggle 0.3s ease-in-out;
    }
    

    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px black;
    }
    
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 200px;
      background-color: gray;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 0px;
      position: absolute;
      z-index: 1;
      bottom: 110%;
      left:50%;
      transform: translate(-50%);
      transform-origin: 0 0;
    }
    
    .tooltip:hover .tooltiptext {
      visibility: visible;
      animation: jiggle 0.5s ;
      bottom: 110%;
      left:50%;
    
    }
    
    /*bottom arrow*/
    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: gray transparent transparent transparent;
    }
    
    #highschooltip {

      content: "30€";
      visibility: hidden;
      width: 60px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 0px;
      position: absolute;
      z-index: 1;
      bottom: 110%;
      left:50%;
      transform: translate(-50%);
    
    }
    #highschooltip:active{
      animation: jiggle 0.5s ;

    }
    
    #highschooltip::after{
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }


    button{
      background-color: transparent;
      border-radius: 8px;
      border: none;
      font-size: 20px;
      color: red;
    
    }
    
    button.hoverover:hover{
      color: black;
      background-color: rgba(255, 255, 255, 1);
    
    }
    table{
      color: #fff;
      display:block;
      position: relative;
      text-align: center;
      border:0px solid red;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;
    
    }
    th,td{
      border:2px solid red;
    }

    }

/* for pc */
@media only screen and (min-width: 767px) {
  html{
    scroll-behavior: smooth;
  }
.main-img{/* class for profile picture*/
  
  float:left;
  margin:5px;
  height:450px;
  width:350px;
  transition: background-image 2s
  }

.flowcharts{

  float: center;
  margin:5px;
  height:80vh;
  width:50%;
  opacity: 0;
  filter: blur(10px);
  transition: all 1.7s;

}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align:center;
  background-color: #333;
  overflow-x: hidden;
}

header {
  background-color:black;
  color: white;
  padding:  3.5vw ;
  margin: auto;
  position: sticky;
  top:0px;
  text-align:center;
  opacity:1; 
  z-index:5;
 box-shadow: 5px 10px 10px black, -5px 10px 10px black;
}

.header-content {
  background-color: #333;
  width: auto;
  margin: auto;
  display: flex;
  position: sticky;
  opacity: 1;
 
}

#name{
  position: fixed;
  font-size: calc(var(--var,1vw)*11*30/75);
  left: 5%;
  top:2%;
  color: #fff;
}

header h1 {
  margin: 0;
  font-size: calc(var(--var,1vh)*11);
  position: sticky;
  top:0;
  left: 50px;
}

.welcome{
  color: #fff;
  font-size: calc(var(--var,1vh)*11*75/75);
  position: fixed;
  top: 30%;
  left: 15%;
  text-shadow: rgb(255, 0, 0) 5px 0 15px;/*Adds the neon effetct*/
  text-align:inline;
 z-index: 1;
}

.parrallax1{
  /*--new stuff--*/
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /*---------*/

  background: black /*url("starysky.jpeg") no-repeat*/;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height:75vh;
  width:100%;
}

.parrallax1 img{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  right:10%;
  background-color: black;
  pointer-events: none ;
}

.parrallax1 img#planet{
transform: translateX(600%);
transform: translateY(-30%);
height: 100%;
width: 75%;
z-index: 0;
bottom: -70%;
}


.parrallax1 img#mountains{

  
  width: 100%;
  height: auto;
  }
  


h2 {
  font-size: calc(var(--var,1vh)*11*50/75);
  text-align:center;
  color: #ffffff;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
h3{
  color:#fff;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.1s;
}
#Status{
  color: rgb(3, 218, 3);
}

p {
  font-size: calc(var(--var,1vh)*11*20/75);
  margin:20px;
  color: #ffffff;
  margin-inline: auto;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
  line-height: 30px;
}
p a{
  font-size: calc(var(--var,1vh)*11*20/75);

}
.courseBullets{
  text-align: center;
  margin-left: -5%;
}


.intro{
  font-size:calc(var(--var,1vh)*11*25/75);
  text-align:left; 
}

a {
  font-size: calc(var(--var,1vw)*11*15/75);
}

ul {
  list-style:none;
  text-align:center;

}

li{
  color: #fff;
}

#coursesList li{
  float:center;
  color: red;
  list-style-type:none;
  margin: 0px;
  padding: 0px; 
  width:90vw;
}

#publicationss li{
  float:center;
  list-style-type:none;
  margin: 0px;
  padding: 0px; 
  width:97vw;
}

#contacts li{
  float:center;
  list-style-type:none;
  margin: 0px;
  padding: 0px; 
  width:97vw;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

nav ul li {
  list-style: none;
  display: inline;
  margin-right: calc(var(--var,1vh)*11*20/75);
}

nav ul li a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  
}

.sections{
  position: fixed;
  /*top: calc(var(--var,1vh)*11*46/75);
  right: calc(var(--var,1vh)*11*120/75);*/
  left:40%;
  top: max(15.5px,6%); 
  opacity:1;

}

.sections a{
  position: relative;
}

.sections a:hover{  
  transform: scale(1);
  color: rgba(177, 0, 0, 0.773);

}

.sections a span{
  position: absolute;
  top: 0;
  left: -2.5px;
  width: 106%;
  height: 115%;
  border-radius: 10px;
  transform: scale(0);
  opacity: 0;
  z-index: -1;
  background: #fff;
  transition: 0.7s;
}

.sections a:hover span{
  transform: scale(1);
  opacity: 1;

}
nav ul li.active a{
  transform: scale(1);
  color: rgba(177, 0, 0, 0.773);
  z-index: 2;
}

nav ul li.active a span{
  transform: scale(1);
  opacity: 1;
  color: rgba(177, 0, 0, 0.773);
  width: 106%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  transition: 1.0s ease-out;

}

.american-flag{
  position: fixed;
  right: 50px;
  top:2%;

}

.italian-flag{
  position: fixed;
  right: 0%;
  top:2%;
}


.section {
  padding: 50px 0;
  font-size: calc(var(--var,1vh)*11*30/75);
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hoverover{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.3s;

}

.linkvari{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.3s;
  }

.courseElem{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.3s;
  
  }
  .courseElem li p{

    width: -80%;
  }

.show{
   opacity: 1;
   filter: blur(0);
   transform: translate(0);
}
.blurEff{
  opacity: 1;
  filter: blur(0);
}

/*Tooltip*/
@keyframes jiggle {
  0%, 100% {
      transform: rotate(0) translate(-50%);

  }
  12.5%{
    transform: rotate(-6.75deg) translate(-50%);
  }
  25% {
      transform: rotate(-12.5deg) translate(-50%);
    
  }
  37.5%{
    transform: rotate(-6.75deg) translate(-50%);
  }
  50% {
      transform: rotate(0) translate(-50%);

    }
    62.5%{
      transform: rotate(6.75deg) translate(-50%);

    }
  75% {
      transform: rotate(12.5deg) translate(-50%);

  }
  87.5%{
    transform: rotate(6.75deg) translate(-50%);

  }
}

.jiggle {
  animation: jiggle 0.3s ease-in-out;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left:50%;
  transform: translate(-50%);
  transform-origin: 0 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  animation: jiggle 0.5s ;
  bottom: 110%;
  left:50%;

}

/*bottom arrow*/
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: gray transparent transparent transparent;
}

#highschooltip {

  content: "30€";
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left:50%;
  transform: translate(-50%);

}

#highschooltip::after{
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;

}

.tooltip-par {
  content: "30€";
  width: 60px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0px;
  position: absolute;
  z-index: 1;
  transform: rotate(-45deg);

}

.tooltip-par::after{
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: gray transparent transparent transparent;
}

.tooltip-trigger {
  color: white;
  cursor: pointer;
  position: relative;
  transform: rotate(-45deg);

}

button{
  background-color: transparent;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  color: red;
}

button.hoverover:hover{
  color: black;
  background-color: rgba(255, 255, 255,1);

}

table{
  color: #fff;
  display:block;
  position: relative;
  text-align: center;
  border:0px solid red;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;

}
th,td{
  border:2.5px solid red;
}

}
