::-webkit-scrollbar {
    display: none;

}

/* General style for the cookie banner */
#cookie-consent-banner {
  position: fixed;
  bottom: 0;
  width: 94.7%;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  text-align: center;
}

#cookie-consent-banner p {
  margin: 0;
  flex: 1;
  color: black;
}

#cookie-consent-banner a {
  color: rgb(3, 218, 3);
  text-decoration: none;
}


#cookie-consent-banner a:hover {
  text-decoration: underline;
}

#cookie-consent-banner button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color:red;
  color: #fff;
  cursor: pointer;

}

#cookie-consent-banner button:hover {
  background-color:rgb(185, 0, 0);
}

:root{

  /*Variables*/

    --visibility: visible;
    /*Dark mode colors*/
    --black:black;
    --text-color:white;
    --red:red;
    --green:green;
    --dark-modeBkg:#333;
}


@supports (scrollbar-color:  red #F5EDED){
  *{
  scrollbar-color:  red hsla(120, 100%, 50%, 0);
  scrollbar-width: auto;
  /*First is the thumb the second is the bkg*/  
  }
/*this code is needed because firefox doesn't support the code above */
}

.courseBullets{
  cursor: pointer;
}

@keyframes fadeout {
  0%{
    opacity: 80;
  }
  25%{
    opacity: 60;
  }
 50%{
    opacity: 40;
  }
  75%{
    opacity: 20;
  }
  100%{
    opacity: 0;
  }
}
.animation-fadeout {
  animation: fadeout 1s ease-in-out;
}

/* CANVA FOR SHOOTING STARS*/
canvas { 
  display: block; 
  position: relative; /* Ensure it stays in place */
  top: 0; 
  left: 0; 
  width: 100vw; 
  height: 85vh; /* fix the viewport height */
  pointer-events: none; /* Ensure interactions pass through */
}
/**************/


/*Social Icons*/
#Icons{

  width: calc(1.175*50) px;
  height: 50px;

}
.contact-logos {
  
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid transparent; /* Initially no border */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
  cursor: pointer; /* Makes the button appear clickable */
}

.contact-logos:hover {
  background-color: var(--text-color); 

}


/*************/

/*for phone*/
@media only screen and (max-width: 467px) {
  canvas { 
    display: block; 
    position: relative; /* Ensure it stays in place */
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 85vh; /* fix the viewport height */
    pointer-events: none; /* Ensure interactions pass through */
  }

  html{
    scroll-behavior: smooth;

  }

  .pToAlign{
    padding-left: 3.0%;
  }

  .main-img{/* class for profile picture*/

    display: block;
    margin-left: -0.5%;
    margin-bottom:10px;
    height:450px;
    width:95vw;
    transition: all 1s;
    border-radius: 15px;

    }

  .flowcharts{
      margin: 12.5px;
      display: block;
      float: center;
      height:calc(93vh/2);
      width:93vw;
      opacity: 1;
      filter: blur(10px);
      transition: all 2.2s;
      border-radius: 5px;
    
    }

    hr{
      border: 1px solid black;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: var(--dark-modeBkg);
      text-align: center;
      overflow-x: hidden;
     
    }

    header {
      background-color: black;
      color: #F5EDED;
      padding: 4.35vh ;
      margin: auto;
      font-size: calc(var(--var,1vw)*11*40/75);
      position: sticky;
      top: 0px;
      text-align:center;
      opacity:1; 
      z-index:5;
      box-shadow: 5px 10px 10px black, -5px 10px 10px black;

    }
    
    .header-content {
      width: auto;
      height: auto;
      margin: auto;
      display: flex;
      position: sticky;
      opacity: 1;
    }
 

    #name{
      position: fixed;
      font-size: calc(var(--var,1vw)*11*50/75);
      left: 4%;
      top: 2%;
      color: #F5EDED;
    }
    
    .welcome{
      color: #F5EDED;
      font-size: calc(var(--vw,1vw)*11*50/75);
      position: absolute;
      padding-top: 10%;
      top: 20%;
      left:0%;
      text-shadow: rgb(255, 0, 0) 1px 0 10px;/*Adds the neon effect*/
      text-align: inline;
   
    }

    .parrallax1{
      background: black;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      height:75vh;
      width:100vw;
    }
  
    
    h2 {
      font-size: calc(var(--var,1vw)*11*50/75);
      text-align:center;
      color: var(--text-color);
      filter: blur(5px);
      transform: translateX(-100%);
      transition: all 1s;
    
    }

    h3{
      color: var(--text-color);
      filter: blur(5px);
      transform: translateX(-100%);
      transition: all 1.1s;
    }

    p {
      margin-top:20px;
      color: var(--text-color);
      text-align: center;
      margin-inline: auto;
      margin-right: 15px;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: all 1.5s;
      line-height: 25px;

    }

    #Status{
      color: rgb(3, 218, 3);
    }
    
    p a{
      font-size: calc(var(--var,1vh)*11*15/75);
    }
    
    .intro{
      font-size:calc(var(--vw,1vw)*11*30/75)px;
      text-align:center; 
      margin-left: 3%;
    }

    .courseText{
      text-align: center;
      margin-left: 5%;
    }

    a {
      font-size: calc(var(--var,1vw)*11*15/75);
    }
    
    .linkvari{
    font-size: 20px;
    text-align: center;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.3s;
    color:red;

    }

    ul {
      list-style:none;
      text-align:center;
    }

    li{
      color: #F5EDED;
    }


    .courseElem li{
      font-size: calc(var(--vw,1vw)*15*20/75);
      color:  red;
      text-align: center;
      list-style-type:none;
      margin: 0px;
      padding: 0px; 
      width:75%;
    }

    ul p{
      margin-left: -20.3%;
      text-align: center;
      
    }
    
    #publicationss li{
      float:center;
      list-style-type:none;
      margin: 0px;
      padding: 0px; 
      width:90%;
    }
    
    #contacts li{
      text-align:center;
      list-style-type:none;
      margin: 0px;
      padding: 0px; 
      width:90%;
    }
    
    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    nav ul li {
      list-style: none;
      display: inline;
      margin-right: calc(var(--var,1vw)*11*10/75);
      position: relative;
    }
    
    nav ul li a {
      list-style: none;
      text-decoration: none;
      color: #F5EDED;
      left: -7.5%; 
      position: fixed;
      
    }

    nav ul li.active a{
      transform: scale(1);
      color: rgba(177, 0, 0, 0.773);
      z-index: 2;
    }
    
    nav ul li.active a span{
      transform: scale(1);
      opacity: 1;
      color: rgba(177, 0, 0, 0.773);
      width: 106%;
      height: 100%;
      border-radius: 4px;
      background-color: #F5EDED;
      transition: 1.0s ease-out;
      left: -1px;
    
    }
    
    .sections{
      position: fixed;
      left:8.5%;
      top:6%; 
      opacity:1;
    
    }
    
    .sections a{
      position: relative;
      font-size:calc(var(--var,1vw)*11*25/75) ;
    }
  
    
    .sections a span{
      position: absolute;
      top: 0;
      left: -1.5px;
      width: 106%;
      height: 115%;
      border-radius: 5px;
      transform: scale(0);
      opacity: 0;
      z-index: -1;
      background: #F5EDED;
      transition: 0.7s;

    }
    
    .american-flag{
      position: fixed;
      right: 34px;
      top:2%;
    
    }

    #amflag{
      height:18px ;
      width: 18px;
    }
    
    .italian-flag{
      position: fixed;
      right:1%;
      top:2%;
    }

    #itflag{
      height: 18px;
      width: 18px;
    }   
    
    .section {
      padding: 50px 0;
      font-size: calc(var(--var,1vh)*11*30/75)px;
      opacity: 1;
      filter: blur(0px);
      transition: all 1s;

    }

    .hoverover{
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: all 1.3s;
    
    }
    
    .courseElem{
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: all 1.3s;
    }
    
   .show{
       opacity: 1;
       filter: blur(0);
       transform: translate(0);

    }

   .blurEff{
      opacity: 1;
      filter: blur(0);

    }

    /*Tooltip*/
    @keyframes jiggle {


    0% {
        transform: scale3d(1, 1, 1) translate(-50%);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1) translate(-50%);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1) translate(-50%);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1) translate(-50%);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1) translate(-50%);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1) translate(-50%);
    }
    100% {
        transform: scale3d(1, 1, 1) translate(-50%);
    }

    }
   
    @keyframes jiggles {
      0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
    }
    

    .jiggle {
      animation: jiggle 1.0s ease-in-out;
    }
    .jiggles {
      animation: jiggles 1.0s ease-in-out;
    }

    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px black;
    }
    
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 200px;
      background-color: black;
      color: #F5EDED;
      text-align: center;
      border-radius: 6px;
      padding: 0px;
      position: absolute;
      z-index: 1;
      bottom: 110%;
      left:50%;
      transform: translate(-50%);
      transform-origin: 0 0;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
      /*animation: jiggle 0.5s ;*/
      bottom: 110%;
      left:50%;
    
    }
    
    /*bottom arrow*/
    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
    
    .tooltip-par {
      position: absolute;
      background-color: black;
      color: #F5EDED;
      padding-top: 7.5px;
      border-radius: 6px;
      display: none;
      z-index: 1;
      width: 60px;
      height: 30px;
      font-size: 20px;
      text-align: center;
    
    }
    
    .tooltip-par::after{ /*Actual tip of the tooltip*/
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
      visibility: var(--visibility);

    }    

    #highschooltip {

      content: "30€";
      visibility: hidden;
      height: 30px;
      width: 60px;
      font-size: 20px;
      background-color: black;
      color: #F5EDED;
      text-align: center;
      border-radius: 6px;
      padding-top: 5px;
      position: absolute;
      z-index: 1;
      bottom: 110%;
      left:50%;
      transform: translate(-50%);
      transform-origin: 0 25px;
      opacity: 100;
    
    }
    #highschooltip:active{
      animation: jiggle 0.5s ;

    }
    
    #highschooltip::after{
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }


    button{
      background-color: transparent;
      border-radius: 8px;
      border: none;
      font-size: 20px;
      color:  red;
    
    }
    
    button.hoverover:hover{
      color: black;
      background-color: rgba(255, 255, 255, 1);
    
    }
    table{
      color: var(--text-color);
      display:block;
      position: relative;
      text-align: center;
      border:2.5px solid  red;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;
      border-radius: 10px;

    }
    
    th{
      border:0px solid  red;
      border-bottom-left-radius: 10px;
      padding: 0 10px;
    }
/****SLIDER****/
.switch {
  position: fixed;
  top: 5.5%;
  right: 9.5%;
  display: inline-block;
  width: 40px;
  height: 10px;
}
.switch input { display: none; }
.slider {
  position: absolute;
  cursor: pointer;
  background: #ccc;
  border-radius: 2.5px;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  
}
.slider::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 8px;
  background: white;
  border-radius: 2px;
  top: 1px;
  left: 2px;
  transition: 0.4s;
}

/* Tooltip */
.slider::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: rgba(255, 255, 255,1);
  color: red;
  padding: 1px 3px;
  border-radius: 2.5px;
  font-size: 7px;
  bottom: -120%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}

input:checked + .slider { 
 
  background: #222;
}
input:checked + .slider:before {
  
  transform: translateX(22px); 
}




    }

/* for PC */
@media only screen and (min-width: 927px) {
  html{
    scroll-behavior: smooth;
  }
.main-img{/* class for profile picture*/
  
  float:left;
  margin:5px;
  height:450px;
  width:350px;
  transition: background-image 2s;
  border-radius: 20px;
  }

.flowcharts{

  float: center;
  margin:5px;
  height:80vh;
  width:50%;
  opacity: 0;
  filter: blur(10px);
  transition: all 1.7s;
  border-radius: 5px;

}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align:center;
  background-color: var(--dark-modeBkg);
  overflow-x: hidden;
}
    
hr{
  border: 1px solid black;
}

header {
  background-color:black;
  color: #F5EDED;
  padding:  3.5% ;
  margin: auto;
  position: sticky;
  top:0px;
  text-align: center;
  opacity:1; 
  z-index:5;
 box-shadow: 5px 10px 10px black, -5px 10px 10px black;
}

.header-content {
  background-color: var(--dark-modeBkg);
  width: auto;
  margin: auto;
  display: flex;
  position: sticky;
  opacity: 1;
 
}

#name{
  position: fixed;
  font-size: calc(var(--var,1vw)*11*30/75);
  left: 5%;
  top:2%;
  color: #F5EDED;
 }

#name.active li a span{
    transform: scale(1);
    opacity: 1;
    color: red;
    width: 106%;
    height: 100%;
    border-radius: 10px;
    background-color: #F5EDED;
    transition: 1.0s ease-out;
}

#name:hover{
  color:rgba(177, 0, 0, 0.773);
}
#name:hover span{
  width: 102%;
  height: 101%;

}

header h1 {
  margin: 0;
  font-size: calc(var(--var,1vh)*11);
  position: sticky;
  top:0;
  left: 50px;
}

.welcome{
  color: #F5EDED;
  font-size: calc(var(--var,1vh)*11*75/75);
  position: fixed;
  top: 30%;
  left: 12.5%;
  text-shadow: rgb(255, 0, 0) 5px 0 15px;/*Adds the neon effetct*/
  text-align:inline;
  z-index: 1;
}

/****SLIDER****/
.switch {
  position: fixed;
  top: 3%;
  right: 72.5px;
  display: inline-block;
  width: 82px;
  height: 25px;
  visibility: hidden;
}
.switch input { display: none; }
.slider {
  position: absolute;
  cursor: pointer;
  background: #ccc;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  
}
.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 10%;
  top: 3px;
  left: 4px;
  transition: 0.4s;
}

/* Tooltip */
.slider::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: rgba(255, 255, 255,1);
  color: red;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 14px;
  bottom: -120%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}

/* Show tooltip on hover */
.slider:hover::after {
  opacity: 1;
  visibility: visible;
}

input:checked + .slider { 
 
  background: #222;
}
input:checked + .slider:before {
  
  transform: translateX(55px); 
}


/***********************/


.parrallax1{
  /*--new stuff--*/
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /*---------*/

  background: black ;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height:75vh;
  width:100%;
}


h2 {
  font-size: calc(var(--var,1vh)*11*50/75);
  text-align:center;
  color: var(--text-color);
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
h3{
  color: var(--text-color);
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.1s;
}
#Status{
  color: rgb(3, 218, 3);
}

p {
  font-size: calc(var(--var,1vh)*11*20/75);
  margin:20px;
  color: var(--text-color);
  margin-inline: auto;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
  line-height: 30px;
}
p a{
  font-size: calc(var(--var,1vh)*11*20/75);

}
.courseBullets{
  text-align: center;
  margin-left: -5%;
}


.intro{
  font-size:calc(var(--var,1vh)*11*25/75);
  text-align:left; 
}

a {
  font-size: calc(var(--var,1vw)*11*15/75);
}

ul {
  list-style:none;
  text-align:center;

}

li{
  color: #F5EDED;
}

#bkg-span{
  background-color: black;
  border-radius: 10px;
  visibility: visible;
  z-index: 1000;
  opacity: 1;
}

#coursesList li{
  float:center;
  color:  red;
  list-style-type:none;
  margin: 0px;
  padding: 0px; 
  width:90vw;
}

/* Makes the local bkg for the section
#publicationss{
  background-color: black;
  border-radius: 10px;
  opacity: 1;
  margin-right: 150px;
  margin-left: 150px;
  padding-bottom: 30px;
  padding-top: 30px;
}*/

#publicationss li{
  
  display: block;
  list-style-type:none;
  margin: 0px;
  padding: auto; 
 /* width:97vw;*/
 

}

#contacts li{
  float:center;
  list-style-type:none;
  margin: 0px;
  padding: 0px; 
  width:97vw;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

nav ul li {
  list-style: none;
  display: inline;
  margin-right: calc(var(--var,1vh)*11*20/75);
}

nav ul li a {
  list-style: none;
  text-decoration: none;
  color: #F5EDED;
  
}

.sections{
  position: fixed;
  left:40%;
  top: max(15.5px,6%); 
  opacity:1;

}

.sections a{
  position: relative;
}

.sections a:hover{  
  transform: scale(1);
  color: rgba(177, 0, 0, 0.773);

}

.sections a span{
  position: absolute;
  top: 0;
  left: -2.5px;
  width: 106%;
  height: 115%;
  border-radius: 10px;
  transform: scale(0);
  opacity: 0;
  z-index: -1;
  background: #F5EDED;
  transition: 0.7s;
}

.sections a:hover span{
  transform: scale(1);
  opacity: 1;

}
nav ul li.active a{
  transform: scale(1);
  color: red;
  z-index: 2;
}

nav ul li.active a span{
  transform: scale(1);
  opacity: 1;
  color: red;
  width: 106%;
  height: 115%;
  border-radius: 10px;
  background-color: #F5EDED;
  transition: 1.0s ease-out;

}

.american-flag{
  position: fixed;
  right: 60px;
  top:2%;

}

.italian-flag{
  position: fixed;
  right: 10px;
  top:2%;
}


.section {
  padding: 50px 0;
  font-size: calc(var(--var,1vh)*11*30/75);
  opacity: 1;
  filter: blur(0px);
  transition: all 1s;
}

.hoverover{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.3s;
  cursor: pointer;

}

.linkvari{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.7s;
  color:red;

  }
  .linkvari:hover{  
    transform: scale(1);
    color: rgba(177, 0, 0, 0.773);
  
  }

.courseElem{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.3s;

}


.show{
   opacity: 1;
   filter: blur(0);
   transform: translate(0);
}
.blurEff{
  opacity: 1;
  filter: blur(0);
}

/*Tooltip*/
@keyframes jiggle {
  0% {
    transform: scale3d(1, 1, 1) translate(-50%);
}
30% {
    transform: scale3d(1.25, 0.75, 1) translate(-50%);
}
40% {
    transform: scale3d(0.75, 1.25, 1) translate(-50%);
}
50% {
    transform: scale3d(1.15, 0.85, 1) translate(-50%);
}
65% {
    transform: scale3d(0.95, 1.05, 1) translate(-50%);
}
75% {
    transform: scale3d(1.05, 0.95, 1) translate(-50%);
}
100% {
    transform: scale3d(1, 1, 1) translate(-50%);
}
  
}
@keyframes jiggles {
  0% {
    transform: scale3d(1, 1, 1);
}
30% {
    transform: scale3d(1.25, 0.75, 1);
}
40% {
    transform: scale3d(0.75, 1.25, 1);
}
50% {
    transform: scale3d(1.15, 0.85, 1);
}
65% {
    transform: scale3d(0.95, 1.05, 1);
}
75% {
    transform: scale3d(1.05, 0.95, 1);
}
100% {
    transform: scale3d(1, 1, 1);
}
}

@keyframes pulse {
	0% {
		transform: scale(1) translate(-50%);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1.1) translate(-50%);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1) translate(-50%);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.pulse {
  animation: pulse 1.0s infinite;
}
.jiggle {
  animation: jiggle 1.0s ease-in-out;
}
.jiggles{
  animation: jiggles 1.0s ease-in-out;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #F5EDED;
  text-align: center;
  border-radius: 6px;
  padding: 0px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left:50%;
  transform: translate(-50%);
  transform-origin: 0 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  animation: pulse 1s ;
  bottom: 110%;
  left:50%;

}

/*bottom arrow*/
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-par {
  position: absolute;
  background-color: black;
  color: #F5EDED;
  padding-top: 5px;
  border-radius: 6px;
  display: none;
  z-index: 1;
  width: 60px;
  height: 30px;
  font-size: calc(var(--var,1vh)*11*20/75);
  text-align: center;

}

.tooltip-par::after{/*Actual tip of the tooltip*/
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;

}


#highschooltip {

  content: "30€";
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: #F5EDED;
  text-align: center;
  border-radius: 6px;
  padding: 0px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left:50%;
  transform: translate(-50%);
  transform-origin: 0 20px;
  opacity: 100;

}

#highschooltip::after{
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;

}


button{
  background-color: transparent;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  color:  red;
}

button.hoverover:hover{
  color: red;
  background-color: var(--text-color);

}

table{
  color: var(--text-color);
  display:block;
  position: relative;
  text-align: center;
  border:2.5px solid  red;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-radius: 10px;

}


th{
  border:0px solid  red;
  border-bottom-left-radius: 10px;
  padding: 0 10px;
}

#cookie-consent-banner {
  position: fixed;
  bottom: 0;
  width: 98.5%;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  text-align: center;
}


}

/*for tablet*/
@media only screen and (min-width:467px) and (max-width:927px) {

  html{
    scroll-behavior: smooth;
  }

.main-img{
  
  float:left;
  margin:5px;
  height:450px;
  width:350px;
  transition: background-image 2s
  }

.flowcharts{

  float: center;
  margin:5px;
  height:80vh;
  width:50%;
  opacity: 0;
  filter: blur(10px);
  transition: all 1.7s;
  border-radius: 5px;

}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align:center;
  background-color: var(--dark-modeBkg);
  overflow-x: hidden;
}
    
hr{
  border: 1px solid black;
}

/****SLIDER****/
.switch {
  position: fixed;
  right: 62.5px;
  top:9%;
  display: inline-block;
  width: 42px;
  height: 15px;
  visibility: hidden;
}
.switch input { display: none; }
.slider {
  position: absolute;
  cursor: pointer;
  background: #ccc;
  border-radius: 3.5px;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  
}
.slider::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 10%;
  top: 1.5px;
  left: 4px;
  transition: 0.4s;
}

/* Tooltip */
.slider::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: rgba(255, 255, 255,1);
  color: red;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 12px;
  bottom: -120%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}

/* Show tooltip on hover */
.slider:hover::after {
  opacity: 1;
  visibility: visible;
}

input:checked + .slider { 
 
  background: #222;
}
input:checked + .slider:before {
  
  transform: translateX(55px); 
}

header {
  background-color: black;
  color: #F5EDED;
  padding:  10vh ;
  margin: auto;
  font-size: calc(var(--var,1vw)*11*40/75);
  position: sticky;
  top:0px;
  text-align:center;
  opacity:1; 
  z-index:5;
  box-shadow: 5px 10px 10px black, -5px 10px 10px black;

}

.header-content {
  background-color: var(--dark-modeBkg);
  width: auto;
  margin: auto;
  display: flex;
  position: sticky;
  opacity: 1;
 
}

#name{
  position: fixed;
  font-size: calc(var(--var,1vw)*11*30/75);
  left: 5%;
  top:2%;
  color: #F5EDED;
}

header h1 {
  margin: 0;
  font-size: calc(var(--var,1vh)*11);
  position: sticky;
  top:0;
  left: 50px;
}

.welcome{
  color: #F5EDED;
  position: static;
  font-size: calc(var(--var,1vh)*11*65/75);
  white-space: nowrap;
  margin-right: 00vw;
  text-shadow: rgb(255, 0, 0) 5px 0 15px;/*Adds the neon effetct*/
  text-align: center;
  z-index: 1;
}
canvas { 
  display: block; 
  position: absolute; /* Ensure it stays in place */
  top: 0; 
  left: 0; 
  width: 100vw; 
  height: 85vh; /* fix the viewport height */
  pointer-events: none; /* Ensure interactions pass through */
}

.parrallax1{
  /*new stuff--*/
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /*---------*/

  background: black /*url("starysky.jpeg") no-repeat*/;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height:75vh;
  width:100%;
}


h2 {
  font-size: calc(var(--var,1vh)*11*50/75);
  text-align :center;
  color: var(--text-color);
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
h3{
  color:var(--text-color);
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.1s;
}
#Status{
  color: rgb(3, 218, 3);
}

p {
  font-size: calc(var(--var,1vw)*11*15/75);
  margin:0px;
  color: var(--text-color);
  text-align: center;
  margin-inline: auto;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
  line-height: 15px;
}
p a{
  font-size: calc(var(--var,1vw)*11*15/75);
}
.courseBullets{
  text-align: center;
  margin-left: -5%;
}


.intro{
  font-size: calc(var(--var,1vw)*11*15/75);
  text-align:left; 
}

a {
  font-size: calc(var(--var,1vw)*11*22.5/75);
}

ul {
  list-style:none;
  text-align:center;

}

li{
  color: #F5EDED;
}

#coursesList li{
  float:center;
  color:  red;
  list-style-type:none;
  margin: 0px;
  padding: 0px; 
  width:95%;
}

#publicationss li{
  float:center;
  list-style-type:none;
  margin: 0px;
  padding: 0px; 
  width:95%;
}

#publicationss li a{
  font-size: calc(var(--var,1vw)*11*20/75);

}

#contacts li{
  float:center;
  list-style-type:none;
  margin: 0px;
  padding: 0px; 
  width:95%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

nav ul li {
  list-style: none;
  display: inline;
  margin-right: calc(var(--var,1vh)*11*20/75);
}

nav ul li a {
  list-style: none;
  text-decoration: none;
  color: #F5EDED;
  left: 0%; 
  /*display: inline;*/
  
}

.sections{
  position: fixed;
  left:3.5%;
  top: 7%; 
  opacity:1;

}

.sections a{
  position: relative;
}

/*.sections a:hover{  
  transform: scale(1);
  color: rgba(177, 0, 0, 0.773);

}*/

.sections a span{
  position: absolute;
  top: 0;
  left: -2.5px;
  width: 110%;
  height: 115%;
  border-radius: 5px;
  transform: scale(0);
  opacity: 0;
  z-index: -1;
  background: #F5EDED;
  transition: 0.7s;
}

.sections a:hover span{
  transform: scale(1);
  opacity: 1;

}
nav ul li.active a{
  transform: scale(1);
  color: rgba(177, 0, 0, 0.773);
  z-index: 2;
}

nav ul li.active a span{
  transform: scale(1);
  opacity: 1;
  color: rgba(177, 0, 0, 0.773);
  width: 110%;
  height: 100%;
  border-radius: 5px;
  background-color: #F5EDED;
  transition: 1.0s ease-out;

}

.american-flag{
  position: fixed;
  right: 60px;
  top:0%;

}

.italian-flag{
  position: fixed;
  right: 20px;
  top:0%;
}

#amflag{
  height: 25px ;
  width: 25px;
}

#itflag{
  height: 25px ;
  width: 25px;
}


.section {
  padding: 50px 0;
  font-size: calc(var(--var,1vh)*11*30/75);
  opacity: 1;
  filter: blur(0px);
  transition: all 1s;
}

.hoverover{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.3s;

}

.linkvari{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.3s;
  color: red;

  } 

.courseElem{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.3s;
  margin-left: -40px;
  
  }
  .courseElem li{
    font-size: calc(var(--var,1vw)*11*20/75);
  }
  .courseElem li p{
    width: -80%;
  }
.show{
   opacity: 1;
   filter: blur(0);
   transform: translate(0);
}
.blurEff{
  opacity: 1;
  filter: blur(0);
}

/*Tooltip*/
@keyframes jiggle {
  0% {
    transform: scale3d(1, 1, 1) translate(-50%);
}
30% {
    transform: scale3d(1.25, 0.75, 1) translate(-50%);
}
40% {
    transform: scale3d(0.75, 1.25, 1) translate(-50%);
}
50% {
    transform: scale3d(1.15, 0.85, 1) translate(-50%);
}
65% {
    transform: scale3d(0.95, 1.05, 1) translate(-50%);
}
75% {
    transform: scale3d(1.05, 0.95, 1) translate(-50%);
}
100% {
    transform: scale3d(1, 1, 1) translate(-50%);
}
  
}
@keyframes jiggles {
  0% {
    transform: scale3d(1, 1, 1);
}
30% {
    transform: scale3d(1.25, 0.75, 1);
}
40% {
    transform: scale3d(0.75, 1.25, 1);
}
50% {
    transform: scale3d(1.15, 0.85, 1);
}
65% {
    transform: scale3d(0.95, 1.05, 1);
}
75% {
    transform: scale3d(1.05, 0.95, 1);
}
100% {
    transform: scale3d(1, 1, 1);
}
}

@keyframes pulse {
	0% {
		transform: scale(1) translate(-50%);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1.1) translate(-50%);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1) translate(-50%);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.pulse {
  animation: pulse 1.0s infinite;
}
.jiggle {
  animation: jiggle 1.0s ease-in-out;
}
.jiggles{
  animation: jiggles 1.0s ease-in-out;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #F5EDED;
  text-align: center;
  border-radius: 6px;
  padding: 0px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left:50%;
  transform: translate(-50%);
  transform-origin: 0 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  animation: pulse 1s ;
  bottom: 110%;
  left:50%;

}

/*bottom arrow*/
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-par {
  position: absolute;
  background-color: black;
  color: #F5EDED;
  padding-top: 5px;
  border-radius: 6px;
  display: none;
  z-index: 1;
  width: 60px;
  height: 30px;
  font-size: calc(var(--var,1vw)*11*20/75);
  text-align: center;

}

.tooltip-par::after{/*Actual tip of the tooltip*/
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;

}


#highschooltip {

  content: "30€";
  visibility: hidden;
  width: 60px;
  height: 30px;
  background-color: black;
  color: #F5EDED;
  text-align: center;
  border-radius: 6px;
  padding-top: 2.5px;
 padding-bottom: 2.5px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left:50%;
  transform: translate(-50%);
  transform-origin: 0 25px;
  font-size: calc(var(--var,1vw)*11*20/75);

}

#highschooltip::after{
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;

}


button{
  background-color: transparent;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  color:  red;
}

button.hoverover:hover{
  color: black;
  background-color: rgba(255, 255, 255,1);

}

table{
  color: var(--text-color);
  display:block;
  position: relative;
  text-align: center;
  border:2.5px solid  red;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-radius: 10px;
}
th{
  border:0px solid  red;
  border-bottom-left-radius: 10px;
  padding: 0 10px;
}

#cookie-consent-banner {
  position: fixed;
  bottom: 0;
  width: 97.7%;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  text-align: center;
}

}
